@import "~bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "buttons.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #efefef;
}
#root {
    //width: 100vw;
    height: 100vh;
}
  
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

  