
.login-title {
    text-align: center;
    font-size: 2.2rem;
    color: #525252;
    font-weight: 600;
    margin: 2rem 0;
}
label {
    color: #525252;
}

.img-login {  
    background: url(../assets/images/back.png) no-repeat center;
    background-size: contain;
} 