
.page-header {
    width: 100%;  
    background: url(../assets/images/back.png) no-repeat center;
    background-size: contain;
}
.img-overlay {
    width: 100%;
    min-height: 300px;
    background: rgba(45, 50, 62, 0.38823529411764707);
}

.page-title {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    font-weight: 600;
    margin: 2rem 0;
}
.page-subtitle {
    text-align: center;
    font-weight: 400;
    line-height: 2;
    font-size: 1.099rem;
    color: #fff;
    margin: 2rem 0;
}